<style>
    #id_skills {
        width: inherit;
    }
</style>
<div class="modal-header">
    <h5 style="font-weight: lighter;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-align-left">
            <line x1="17" y1="10" x2="3" y2="10"></line>
            <line x1="21" y1="6" x2="3" y2="6"></line>
            <line x1="21" y1="14" x2="3" y2="14"></line>
            <line x1="17" y1="18" x2="3" y2="18"></line>
        </svg>&nbsp; About Me</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="close">
        <span aria-hidden="True">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form action="{{ url }}#information" class="dashboard-form"
        method="POST" novalidate id="form">
        {% csrf_token %}
        <div class="dashboard-section basic-info-input">
            {% for field in form %}
                <div class="form-group">
                    <span>{{ field.label }}</span>
                    {{field}}
                </div>
            {% endfor %}
           

        </div>
        <input type="submit" value="Save Changes" class="button btn-primary">
        <button data-dismiss="modal" class="button" style="background-color:#dc3545;">Cancel</button>
    </form>

</div>

{% block innerjs %}

<script>
    CKEDITOR.replace('id_about_me')
    $('#id_skills').select2({
        tags: true
    });
</script>

{% endblock %}