#buttonb {
    display: inline-block;
    background-color: #246df8;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 23px;
    right: 118px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#buttonb::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#buttonb:hover {
    cursor: pointer;
    background-color: #333;
}

#buttonb:active {
    background-color: #555;
}

#buttonb.show {
    opacity: 1;
    visibility: visible;
}

/* Styles for the content section */